head
include includes/nav.pug
  title Privacy | Eagle Bot-List
  link(rel='shortcut icon', href='https://media.discordapp.net/attachments/817464926066835486/828880449689878528/eb26e4b4bcf61bab6b26b9ab6689a22c.webp', type='image/x-icon')
  meta(property='og:image', content='https://media.discordapp.net/attachments/817464926066835486/828880449689878528/eb26e4b4bcf61bab6b26b9ab6689a22c.webp')
  meta(property='og:title', content='Eagle Bot-List Privacy')
  meta(name='twitter:title', content='Eagle Bot-List Privacy')
  meta(property='og:description', content='At Eagle Bot-List, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Eagle Bot-List and how we use it. If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Eagle Bot-List  Bots. This policy is not applicable to any information collected offline or via channels other than this website.')
  meta(name='description', content='At Eagle Bot-List, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Eagle Bot-List and how we use it. If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Eagle Bot-List  Bots. This policy is not applicable to any information collected offline or via channels other than this website.')
  meta(property='twitter:description', content='At Eagle Bot-List, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Eagle Bot-List and how we use it. If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us. This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Eagle Bot-List. This policy is not applicable to any information collected offline or via channels other than this website.')
  script(type='text/javascript', async='', src='https://www.gstatic.com/recaptcha/releases/dpzVjBAupwRfx3UzvXRnnAKb/recaptcha__en.js', crossorigin='anonymous', integrity='sha384-ZPSKvKG0WipeaRQyUewUQ0wMawOWTmw32n5nBKnR21FA4MBKHzMEW63JHSOUpp32')
  script(type='text/javascript', async='', src='https://www.google-analytics.com/analytics.js')
  link(type='image/png', rel='shortcut icon', href='https://media.discordapp.net/attachments/817464926066835486/828880449689878528/eb26e4b4bcf61bab6b26b9ab6689a22c.webp')
  meta(name='theme-color', content='#CF4141')
  meta(name='language', content='EN')
  meta(name='PreMiD_details', content='Eagle Bot-List Privacy')
  meta(name='PreMiD_smallImageText', content='Page')
  meta(name='PreMiD_smallImageKey', content='img_icon_page')


  //style.
    ::-webkit-scrollbar {
    display: none;
    }
    .mainfoot {
    margin-top:0!important;
    }
    .errorpage__link {
    color:#aaa;
    cursor:pointer;
    }
    .errorpage__link:hover {
    color:#BF59FF;
    text-decoration:none;
    }
    .maintron {
    height: 100%;
    }
    * { box-sizing: initial!important; }
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109410618-4')
  script.
    window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','UA-109410618-4');
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon', type='image/png', href='/assets/img/logo.png')
  link(rel='stylesheet', href='/assets/css/main.css')
  link(rel='stylesheet', href='/assets/css/secondary.css')
  link(rel='stylesheet', href='/assets/css/bootstrap-multiselect.css')
  link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.14.0/css/all.css', crossorigin='anonymous')
  script(src='https://www.google.com/recaptcha/api.js')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css')
  link(rel='stylesheet', href='/assets/css/bootstrap-toaster.css')

centera
 .jumbotron.jumbotron-fluid.maintron.maintron-plus.mb-0
  .container.mb-2
    span Updated on: September 16, 2021
    h1.display-5.mb-0.mt-2.text-boldest Privacy
    .mb-2(style='min-height:28px;')
      p.lead.ml-1.text-damp.text-bold.mb-0
      | At Eagle Bot-List, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Eagle Bot-List and how we use it.
    p
      | If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
    p 
      | This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Eagle Bot-List. This policy is not applicable to any information collected offline or via channels other than this website.
    h1.display-5.mb-0.mt-2.text-boldest Information we collect
    .mb-2(style='min-height:28px;')
      p.lead.ml-1.text-damp.text-bold.mb-0
    p
      | The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
    p
      | On first login we collect, Discord IDs, Discord discriminator, Discord avatar, along with a unique token, and a unidentifiable hash.
    p
      | You may see our Service advertised in other applications or websites. Advertising platforms, which include Twitter and Facebook (and whose SDKs are integrated within our Service), may collect information for optimizing advertising campaigns outside of the Service.
    p 
      | If you do not wish to receive personalized advertising that is delivered by third parties outside of the Service, you may be able to exercise that choice through opt-out programs that are administered by third parties.
    
    h1.display-5.mb-0.mt-2.text-boldest Cookies
    .mb-2(style='min-height:28px;')
      p.lead.ml-1.text-damp.text-bold.mb-0
    p
      | Like any other website, Eagle Bot-List uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
    p
      | For more general information on cookies, please read a 
      a(target='_blank', href='https://www.cookieconsent.com/what-are-cookies') What Are Cookies 
      | from Cookie Consent.

    h1.display-5.mb-0.mt-2.text-boldest Use of information
    .mb-2(style='min-height:28px;')
      p.lead.ml-1.text-damp.text-bold.mb-0
    p 
      | We use the information you provide in a manner consistent with this privacy policy. If you provide information for a certain reason, we may use the information in connection with the reason for which it was provided. 
    p 
      | Additionally, if you provide information in order to gain access to the Services, we will use your information to provide you with access to those services and to monitor your use of those services. 
      | The Company and its affiliates may also use your information collected through the Services to help us improve the content and functionality of the Services, better understand our users, and improve the Services. 
    p
      | The Company and its affiliates may use this information to contact you in the future to inform you of services which we believe may be of interest to you. If we do so, each marketing communication we send to you will contain instructions allowing you to "opt out" of receiving future marketing communications. Additionally, if at any time you wish to opt out of receiving future marketing communications or wish to have your name removed from our mailing lists, please contact us as set out below.
      br
      br

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js')
script(defer='', src='https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.min.js')
script(defer='', src='https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js')
script(src='/assets/js/bootstrap-multiselect.js')
script(src='/assets/js/bootstrap-toaster.js')
#toastContainer.position-fixed.top-0.right-0(aria-live='polite')
script(src='/assets/js/danloves.js')
script(src='/assets/toadloader.js', type='text/javascript')
script(defer='', src='/assets/js/confetti.min.js')
script.
  // $("[data-toggle=popover]").popover();
  $("[data-toggle=tooltip]").tooltip();
  $('[data-toggle="popover"]').popover({
  placement : 'top',
  trigger : 'hover'
  });
  $(window).on("load", function () {
  window.toad.startListening();
  setTimeout(function(){window.dispatchEvent(new Event('scroll'));}, 200);
  })
script.
  let hhistory = history.length;
  if(hhistory == 0) hhistory = 1;
  if(hhistory > 1) {}else{
  $('[href="javascript:window.history.back()"]').hide();
  }
cloudflare-app
  style.
    .reset-3c756112--trademark-a8da4b94 {display:none !important;}


  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109410618-4')
  script.
    window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','UA-109410618-4');
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon', type='image/png', href='/assets/img/logo.png')
  link(rel='stylesheet', href='/assets/css/main.css')
  link(rel='stylesheet', href='/assets/css/secondary.css')
  link(rel='stylesheet', href='/assets/css/bootstrap-multiselect.css')
  link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.14.0/css/all.css', crossorigin='anonymous')
  script(src='https://www.google.com/recaptcha/api.js')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css')
  link(rel='stylesheet', href='/assets/css/bootstrap-toaster.css')

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js')
script(defer='', src='https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.min.js')
script(defer='', src='https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js')
script(src='/assets/js/bootstrap-multiselect.js')
script(src='/assets/js/bootstrap-toaster.js')
script(src='/assets/js/danloves.js')
script(src='/assets/toadloader.js', type='text/javascript')
script(defer='', src='/assets/js/confetti.min.js')
script(defer='', src='https://static.cloudflareinsights.com/beacon.min.js', data-cf-beacon='{"r":1,"rayId":"647ff791ad7972ab","si":10,"version":"2021.4.0"}')

script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.9')
script.
  var typed = new Typed('.typed', {
  strings: ["Welcome to Eagle Bot-List Bot's Privacy!",
  "Learn!",
  "Inform!",
  "Be!",
  "respectful!"],
  typeSpeed: 70,
  backSpeed: 50,
  loop: true,
  backDelay: 3000,
  contentType: 'html'
  });
  $('.typed-cursor').html("_");
  $('.nvhome').addClass('active');
  function get(name, url) {
  if (!url) url = window.location.href;
  name = name.replace(/[\\[\]]/g, '\\$&');
  var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
  results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\\+/g, ' '));
  }
  if(get('party') == "time") {$(window).on("load", function () {confetti.start()})}
